.p1{
    padding :50px 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.p1-text{
    width:65%;
}
.p1-title{
    font-size:50px;
    font-weight: 600;
}

.p1-desc{
    margin: 20px 0px;
    
           }

           .p1-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
           
        
        }


        @media screen and (max-width:480px){
            .p1{
                padding :10px;
            }
            .p1-text{
                width: 100%;
            }
        }        